/* Both Admin Menu and Post Formats */
/* Post Format Icons */
/* Welcome Screen Icons */
/* Image Editing Icons */
/* Both Image Editing and TinyMCE */
/* TinyMCE Icons */
/* Post Icons */
/* Sorting */
/* WPorg specific icons: Jobs, Profiles, WordCamps */
/* Internal/Products */
/* Taxonomies */
/* Widget icons */
/* Media icons */
/* Alerts/Notifications/Flags */
/* Social Icons */
/* Misc/CPT */
.acf-field-gallery.dropzone .acf-file-uploader .hide-if-value,
.acf-field-gallery.dropzone .acf-image-uploader .hide-if-value,
.acf-field-image.dropzone .acf-file-uploader .hide-if-value,
.acf-field-image.dropzone .acf-image-uploader .hide-if-value,
.acf-field-file.dropzone .acf-file-uploader .hide-if-value,
.acf-field-file.dropzone .acf-image-uploader .hide-if-value {
  padding: 20px;
  border: 4px dashed #cccccc; }

.acf-field-gallery.dropzone .acf-input,
.acf-field-image.dropzone .acf-input,
.acf-field-file.dropzone .acf-input {
  position: relative; }

.acf-field-gallery.dropzone .uploader-window,
.acf-field-image.dropzone .uploader-window,
.acf-field-file.dropzone .uploader-window {
  position: absolute; }

.acf-field-gallery.dropzone .media-progress-label,
.acf-field-image.dropzone .media-progress-label,
.acf-field-file.dropzone .media-progress-label {
  font-weight: bold;
  text-align: center;
  margin-top: auto; }

.acf-field-gallery.dropzone .media-progress-bar-box,
.acf-field-image.dropzone .media-progress-bar-box,
.acf-field-file.dropzone .media-progress-bar-box {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(204, 204, 204, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.acf-field-gallery.dropzone .media-progress-bar,
.acf-field-image.dropzone .media-progress-bar,
.acf-field-file.dropzone .media-progress-bar {
  margin-bottom: auto; }

.acf-field-gallery.dropzone .uploader-window h1, .acf-field-gallery.dropzone .uploader-window h3,
.acf-field-image.dropzone .uploader-window h1,
.acf-field-image.dropzone .uploader-window h3,
.acf-field-file.dropzone .uploader-window h1,
.acf-field-file.dropzone .uploader-window h3 {
  margin: 0;
  font-size: 25px; }

.acf-field-gallery.dropzone .notice {
  z-index: 1;
  margin-top: 0;
  margin-bottom: 5px; }

.acf-field-image [data-uploader="wp"] > .hide-if-value,
.acf-field-file [data-uploader="wp"] > .hide-if-value {
  text-align: center; }

.acf-field-image .acf-dropzone-info,
.acf-field-file .acf-dropzone-info {
  color: #b4b9be;
  margin-bottom: 5px; }

.acf-field-image .drag-drop-info,
.acf-field-file .drag-drop-info {
  font-size: 20px; }
