/* Both Admin Menu and Post Formats */
/* Post Format Icons */
/* Welcome Screen Icons */
/* Image Editing Icons */
/* Both Image Editing and TinyMCE */
/* TinyMCE Icons */
/* Post Icons */
/* Sorting */
/* WPorg specific icons: Jobs, Profiles, WordCamps */
/* Internal/Products */
/* Taxonomies */
/* Widget icons */
/* Media icons */
/* Alerts/Notifications/Flags */
/* Social Icons */
/* Misc/CPT */
.dropzone .acf-gallery-attachments .show-if-focus,
.dropzone .acf-image-uploader .hide-if-value .show-if-focus,
.dropzone .acf-file-uploader .hide-if-value .show-if-focus {
  visibility: hidden;
  display: none; }

.dropzone .acf-gallery-attachments:focus,
.dropzone .acf-image-uploader .hide-if-value:focus,
.dropzone .acf-file-uploader .hide-if-value:focus {
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 133, 186, 0.66);
          box-shadow: 0 0 6px 3px rgba(0, 133, 186, 0.66); }
  .dropzone .acf-gallery-attachments:focus .show-if-focus,
  .dropzone .acf-image-uploader .hide-if-value:focus .show-if-focus,
  .dropzone .acf-file-uploader .hide-if-value:focus .show-if-focus {
    visibility: visible;
    display: block; }

.dropzone.acf-field-image .acf-image-uploader .hide-if-value,
.dropzone.acf-field-file .acf-file-uploader .hide-if-value {
  padding: 44.25px 20px;
  border: 4px dashed #cccccc; }
  .dropzone.acf-field-image .acf-image-uploader .hide-if-value:focus,
  .dropzone.acf-field-file .acf-file-uploader .hide-if-value:focus {
    padding: 20px; }

.dropzone.acf-field-gallery .acf-input, .dropzone.acf-field-image .acf-input, .dropzone.acf-field-file .acf-input {
  position: relative; }

.dropzone.acf-field-gallery .uploader-window, .dropzone.acf-field-image .uploader-window, .dropzone.acf-field-file .uploader-window {
  position: absolute; }

.dropzone.acf-field-gallery .media-progress-label, .dropzone.acf-field-image .media-progress-label, .dropzone.acf-field-file .media-progress-label {
  font-weight: bold;
  text-align: center;
  margin-top: auto; }

.dropzone.acf-field-gallery .media-progress-bar-box, .dropzone.acf-field-image .media-progress-bar-box, .dropzone.acf-field-file .media-progress-bar-box {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(204, 204, 204, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.dropzone.acf-field-gallery .media-progress-bar, .dropzone.acf-field-image .media-progress-bar, .dropzone.acf-field-file .media-progress-bar {
  margin-bottom: auto; }

.dropzone.acf-field-gallery .uploader-window h1, .dropzone.acf-field-gallery .uploader-window h3, .dropzone.acf-field-image .uploader-window h1, .dropzone.acf-field-image .uploader-window h3, .dropzone.acf-field-file .uploader-window h1, .dropzone.acf-field-file .uploader-window h3 {
  margin: 0;
  font-size: 25px; }

.dropzone.acf-field-gallery .acf-gallery-main {
  z-index: 100; }

.dropzone.acf-field-gallery .notice {
  z-index: 1;
  margin-top: 0;
  margin-bottom: 5px; }

.dropzone.acf-field-image [data-uploader="wp"], .dropzone.acf-field-file [data-uploader="wp"] {
  z-index: 100; }
  .dropzone.acf-field-image [data-uploader="wp"] > .hide-if-value, .dropzone.acf-field-file [data-uploader="wp"] > .hide-if-value {
    text-align: center; }

.dropzone.acf-field-image .acf-dropzone-info, .dropzone.acf-field-file .acf-dropzone-info {
  color: #b4b9be;
  margin-bottom: 5px; }

.dropzone.acf-field-image .drag-drop-info, .dropzone.acf-field-file .drag-drop-info {
  font-size: 20px; }
