@import '../variables/index';

@import '../mixins/index';

/* fix z-index issues in block editor */

.block-editor-block-list__block .block-editor-block-contextual-toolbar {
	/* Block toolbar – prev value: 21 */
	z-index:101;
}
.components-notice-list {
	/* Notices – prev value: 29 */
	z-index:109;
}

.dropzone {

	.acf-gallery-attachments,
	.acf-file-uploader,
	.acf-image-uploader {
		container-name: dropzone;
		container-type: inline-size;
		> * {
			--font-size-sm: 11px;
			--font-size-md: 14px;
			--font-size-lg: 20px;
			// <3 @container queries
			@container dropzone (width > 350px) {
				--font-size-sm: 14px;
				--font-size-md: 20px;
				--font-size-lg: 36px;
			}
		}
		> .hide-if-value {
			min-height: calc( 3 * ( var(--font-size-sm) + var(--font-size-md) ) + 5px + 30px );
		}
	}
	.acf-file-uploader,
	.acf-image-uploader {
		&:not(.has-value) > .hide-if-value {
			display: flex;
			flex-direction: column;
		}
	}

	.acf-dropzone-info {
		// line-height: 1;
		margin-top: auto;
		margin-bottom: 5px;
		color: wp-color(gray-40);
		text-align: center;
		+ p { // btn
			margin-bottom: auto;
		}
		p {
			&:not(.drag-drop-info) {
				font-size:var(--font-size-sm);
			}
			&.drag-drop-info {
				font-size:var(--font-size-md);
			}
		}
	}
	.uploader-window {
		.uploader-editor-title {
			font-size:var(--font-size-lg);
		}
	}

	&.dropzone-file [data-uploader] {
		.hide-if-value {
			padding:10px 20px;
			border:4px dashed wp-color(gray-10);
		}
	}
	.acf-input {
		position:relative;
	}
	.uploader-window {
		position:absolute;
		h1, h3 {
			margin:0;
			font-size:25px;
		}
	}


	.media-progress-label {
		font-weight:bold;
		text-align:center;
		margin-top:auto;
	}
	.media-progress-bar-box {
		background-color:rgba(wp-color(gray-20),0.75);
		display: flex;
		flex-direction:column;
		align-items:center;
	}
	.media-progress-bar {
		margin-bottom:auto;
	}


	&.dropzone-gallery {
		.notice {
			z-index:1;
			margin-top:0;
			margin-bottom:5px;
		}
	}
	[data-uploader="wp"] {
		.media-progress-bar-box {
			position: absolute;
			left:0;
			top:0;
			bottom:0;
			right:0;
		}
		& > .hide-if-value {
			text-align:center;
		}
	}
	[data-uploader="basic"] {
		&.drag-over {
			.hide-if-value {
				border-color: wp-color(blue-40);
			}
		}
	}

	.acf-gallery,
	[data-uploader="wp"] {
		z-index:30;//100;
	}

	.acf-gallery-attachments,
	[data-uploader="wp"] {
		&:not(:focus-within) {
			.show-if-focus {
				display:none;
			}
		}
		&:focus {
			box-shadow:0 0 6px 3px rgba(wp-color(blue-70),0.66);
			// .show-if-focus {
			// 	display:initial;
			// }
		}
	}

	.acf-gallery-main {
		display: grid;
		grid-template-rows: auto min-content;
		> * {
			position: static;
		}
	}

	.acf-gallery-attachments {
		outline:4px dashed wp-color(gray-10);
		outline-offset: -4px;
		margin:1px;
		bottom:51px !important;
		//padding: 0 !important;
		.media-progress-bar-box,
		.uploader-window {
			position:absolute;
			top:0;
			height:100%;
			width:100%;
		}
		.media-progress-bar-box,
		.uploader-window {
			position:sticky;
			margin-bottom:-100%;
			z-index:1;
		}
		.acf-dropzone-info {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			p {
				margin: 0;
			}
		}
		.acf-gallery-attachment {
			&:last-of-type {
				margin-bottom:5px;
			}
		}
	}
}
