@import '../variables/index';

@import '../mixins/index';

/* fix z-index issues in block editor */

.block-editor-block-list__block .block-editor-block-contextual-toolbar {
	/* Block toolbar – prev value: 21 */
	z-index:101;
}
.components-notice-list {
	/* Notices – prev value: 29 */
	z-index:109;
}

.dropzone {

	&.acf-field-image .acf-image-uploader,
	&.acf-field-file .acf-file-uploader {
		.hide-if-value {
			padding:20px;
			border:4px dashed wp-color(gray-10);
		}
	}
	&.acf-field-gallery,
	&.acf-field-image,
	&.acf-field-file {
	}
	.acf-input {
		position:relative;
	}
	.uploader-window {
		position:absolute;
		h1, h3 {
			margin:0;
			font-size:25px;
		}
	}


	.media-progress-label {
		font-weight:bold;
		text-align:center;
		margin-top:auto;
	}
	.media-progress-bar-box {
		background-color:rgba(wp-color(gray-20),0.75);
		display: flex;
		flex-direction:column;
		align-items:center;
	}
	.media-progress-bar {
		margin-bottom:auto;
	}


	&.acf-field-gallery {
		.notice {
			z-index:1;
			margin-top:0;
			margin-bottom:5px;
		}
	}
	[data-uploader="wp"] {
		.media-progress-bar-box {
			position: absolute;
			left:0;
			top:0;
			bottom:0;
			right:0;
		}
		& > .hide-if-value {
			text-align:center;
		}
	}
	.acf-dropzone-info {
		color:wp-color(gray-40);
		margin-bottom:5px;
		text-align: center;
	}
	.drag-drop-info {
		font-size:20px;
	}

	.acf-gallery,
	[data-uploader="wp"] {
		z-index:30;//100;
	}

	.acf-gallery-attachments,
	[data-uploader="wp"] {
		.show-if-focus {
			display:none;
		}
		&:focus {
			box-shadow:0 0 6px 3px rgba(wp-color(blue-70),0.66);
			.show-if-focus {
				display:initial;
			}
		}
	}

	.acf-gallery-attachments {
		outline:4px dashed wp-color(gray-10);
		outline-offset: -4px;
		margin:1px;
		bottom:51px !important;
		//padding: 0 !important;
		.media-progress-bar-box,
		.uploader-window,
		.acf-dropzone-info {
			position:absolute;
			top:0;
			height:100%;
			width:100%;
		}
		.media-progress-bar-box,
		.uploader-window {
			position:sticky;
			margin-bottom:-100%;
			z-index:1;
		}
		.acf-dropzone-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			:first-child {
				margin-top:auto;
			}
			:last-child {
				margin-bottom:auto;
			}
		}
		.acf-gallery-attachment {
			&:last-of-type {
				margin-bottom:5px;
			}
		}
	}
}
