
$wp-blue: wp-color(blue-70);
$wp-blue-light: wp-color(blue-40);
$wp-blue-lighter: wp-color(blue-5);

$wp-green: wp-color(green-20);
$wp-green-lighter: wp-color(green-5);

$wp-red: wp-color(red-50);

$wp-yellow: wp-color(yellow-20);
$wp-yellow-lighter: wp-color(yellow-5);

$wp-black: wp-color(gray-100);

$wp-gray-darker: wp-color(gray-70);
$wp-gray-dark: wp-color(gray-20);
$wp-gray: wp-color(gray-5);
$wp-gray-lighter: wp-color(gray-2);
$wp-gray-lightest: wp-color(gray-0);
